@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900');

* {
    box-sizing: border-box;
}

:root {
    --main-bg-color: #fefefe;
    --main-text-color: #13151b;
    --main-secondary-text: #13151b;
    --preview-holder-bg: #f3f2f9;
    --preview-result-bg: #d7a1ff;
    --text-area-text-color: #d4d4de;
    --text-area-bg-color: #f3f2f9;
}

html[data-theme='dark'] {
    --main-bg-color: #13131b;
    --main-text-color: #fefefe;
    --main-secondary-text: #d7d7df;
    --text-area-bg-color: #22222c;
    --preview-holder-bg: #23232d;

}

html,
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background: var(--main-bg-color);
    color: var(--main-text-color);
}

/* typography */
h1 {
    font-size: 4rem;
    text-align: center;
}

h2 {
    font-size: 1.75rem;
    font-weight: 500;
    color: var(--main-secondary-text);
}

h3 {
    font-size: 1.25rem;
    font-weight: 700;
}

span,
p {
    color: var(--main-secondary-text);
}

/* layout */
.container {
    max-width: 1024px;
    margin: 0 auto;
}

body {
    padding: 2em;
}

/* header */
header {
    display: flex;
    align-items: center;
}

div.logo {
    display: flex;
    align-items: center;
}

span.logo-circle {
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(to right, var(--main-bg-color) 50%, var(--preview-result-bg) 50%);
    margin-right: 1em;
}

span.logo-rect {
    width: 30px;
    height: 60px;
    background: var(--preview-result-bg);
    margin-right: -1.25em;
}

.dark-light-toggle {
    margin-left: auto;
    background: var(--text-area-bg-color);
    padding: 0.8em;
    border-radius: 0.5em;
}

.dark-light-toggle i {
    width: 20px;
    height: 20px;
    text-align: center;
}

/* main */
textarea {
    background: var(--text-area-bg-color);
    resize: none;
    width: 100%;
    height: 200px;
    border-radius: 0.5em;
    border: none;
    box-shadow: 0 0 2px var(--main-secondary-text);
    color: var(--main-secondary-text);
    padding: 1.5em 1em;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.5rem;
}

textarea::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--text-area-bg-color);
    border-radius: 0.5em;
    cursor: default;
}

::-webkit-scrollbar-thumb {
    background: var(--preview-result-bg);
    cursor: default;
    border-radius: 0.5em;
}

.warnning {
    color: rgb(236, 110, 110);
    text-align: right;
}

/* options */

.options {
    display: flex;
    align-items: center;
    color: var(--main-secondary-text);
    gap: 1em;
}

.options div {
    display: flex;
    align-items: center;
}

input[type='checkbox'] {
    appearance: none;
    width: 1.3em;
    height: 1.3em;
    text-align: center;
    margin: 0;
    margin-right: 0.25em;
    accent-color: var(--main-bg-color);
    background-color: var(--main-bg-color);
    position: relative;
    /* font-family: inherit; */
    border: 1px solid var(--main-text-color);
    border-radius: 0.35em;
}

.reading-time {
    margin-left: auto;
}

input[type="checkbox"]::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 1em;
    content: "";
    color: var(--main-secondary-text);
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"]:checked::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

/* results */
.result {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
}

.card {
    border-radius: 0.5em;
    padding: 1em;
    box-shadow: 0 0 2px var(--main-secondary-text);
}

.card span,
.card p {
    color: #13131b;
}

.card span {
    font-size: 4rem;
    font-weight: 700;
}

.card p {
    font-weight: 500;
    margin-top: 0;
}

.perple {
    background: #d3a1fa;
}

.golden {
    background: #ff9f00;
}

.orange {
    background: #ff8159;
}

/* letters count results */
.letter-holder {
    display: grid;
    grid-template-columns: 40px 1fr 110px;
    align-items: center;
    margin-bottom: 0.75em;
    transition: all 0.3s;
}

.letter {
    padding-right: 1em;
}

.preview {
    height: 10px;
    width: 100%;
    background-color: var(--preview-holder-bg);
    border-radius: 0.5em;
    position: relative;
}

.preview-result {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    /* width: 70%; */
    border-radius: 0.5em;
    background: var(--preview-result-bg);
}

.percentage {
    margin-left: auto;
}

.hidden {
    display: none;
}

/* more button */
.more-btn {
    font-family: inherit;
    border: none;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0;
    background: inherit;
    font-size: 1.125rem;
    color: var(--main-text-color);
}

.up {
    transform: rotate(180deg);
}

/* media quries */
@media (max-width: 610px) {
    .options {
        flex-direction: column;
        align-items: start;
        gap: 0;
    }

    .options div {
        margin-top: 1em;
    }

    .reading-time {
        margin-left: 0;
        ;
    }
}

@media (max-width: 480px) {
    body {
        padding: 1.5em;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 385px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.25rem;
    }
}